@import "~font-awesome/css/font-awesome.min.css";
@import "../../global/styles/base_colors.scss";
@import "../../global/styles/base_variables.scss";
@import "../../global/styles/_fonts.scss";

.sign-up-form {
    .form-group {
        .input-fields-container {
            align-items : center;
            .form-icons {
                position: absolute;
                right: 0.5rem;
                font-size : 1.2rem;
                color : $icon-grey;
            }
        }

        .input-field-error-msg {
            color : $error-red;
            font-size : 0.8rem;
        }
        .errors-warnings-section {
            font-size : 0.8rem;
            .weak-password {
                color : $warn-weak-color;
            }
            .fair-password {
                color : $warn-fair-color;
            }
            .strong-password {
                color : $strong-password-color;
            }
        }
    }

    .form-check {
        label {
            cursor: pointer;

            input[type=checkbox] {
                opacity: 0;
                & + .checkbox-label-text:before {
                    font-family: "FontAwesome";
                    content: "\f096";
                    margin-right : 0.25rem;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.2rem;
                    display: inline-block;
                    width: 1rem;
                }
                &:checked + .checkbox-label-text:before {
                    content: "\f046";
                    
                }
                &:focus + .checkbox-label-text:before {
                    color : rgb(13, 102, 219);
                }
                &:disabled + .checkbox-label-text:before {
                    content : "\f0c8";
                    color : $grey-light;
                }
            }
        }
    }

    .signup-form-submit-btn {
        flex : 1;
        box-shadow: none;
        border: 1px solid #45b367;

        background: linear-gradient(#45b367, #64b67d, #6ea780);
        
        &:hover {
            animation-name: submit-btn-animation;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        &:visited {
            box-shadow: none;
        }
        &:focus {
            box-shadow: none;
            border: 1px solid rgb(13, 102, 219);
        }
        &:active {
            box-shadow: none;
        }

    }

    @keyframes submit-btn-animation {
        0% {
            background: linear-gradient(90deg , #8ead98 ,#319b52 , #319b52 ,  #319b52, #319b52);
        }
        20% {
            background: linear-gradient(90deg , #319b52 ,#8ead98 , #319b52 ,  #319b52, #319b52);
        }
        40% {
            background: linear-gradient(90deg , #319b52 ,#319b52 , #8ead98 ,  #319b52, #319b52);
        }
        60% {
            background: linear-gradient(90deg , #319b52 ,#319b52 ,  #319b52,#8ead98 , #319b52);
        }
        80% {
            background: linear-gradient(90deg , #319b52 ,#319b52 ,  #319b52,#319b52 , #8ead98);
        }
        100%{
            background: linear-gradient(90deg , #319b52 ,#319b52 ,  #319b52,#319b52 , #319b52);
        }
    }
}
