@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '../standard-variables.scss';

.header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    height:100vh;
    h1{
        font-family: $font-stack;
    }
}
@include media-breakpoint-down(sm) { 
    .header{
        min-height: 15rem;
        height:15rem;
        h1{
            font-family: $font-stack;
            font-size: 2rem;
            font-weight: 100;
        }
    }
}