@import "../../global/styles/form_styles.scss";

.errors-warnings-section {
    font-size : 0.8rem;
    .weak-password {
        color : $warn-weak-color;
    }
    .fair-password {
        color : $warn-fair-color;
    }
    .strong-password {
        color : $strong-password-color;
    }
}